# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Dataset (keep locally, don't push)
data/raw/
data/processed/

# Generated outputs
outputs/models/
outputs/logs/
outputs/figures/

# Model weights
*.pt
*.pth

# Environment variables
.env